@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transform-style: preserve-3d; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #4cb8f5;
  transition: 0.2s ease; }

.cassetteAnatomy {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  transition: 0.2s ease;
  z-index: 10000; }
  .cassetteAnatomy .anatomy-label:hover .tooltip {
    opacity: 1; }
    .cassetteAnatomy .anatomy-label:hover .tooltip.left {
      transform: perspective(10000px) rotateX(-10deg) rotateZ(-10deg) translateZ(0vw) translateX(0vw) translateY(0vw) scale3d(1, 1, 1) !important;
      left: -100px; }
    .cassetteAnatomy .anatomy-label:hover .tooltip.right {
      transform: perspective(10000px) rotateX(10deg) rotateZ(10deg) translateZ(0vw) translateX(0vw) translateY(0vw) scale3d(1, 1, 1) !important;
      right: -100px; }
    .cassetteAnatomy .anatomy-label:hover .tooltip.bottom {
      bottom: -100px; }
  .cassetteAnatomy .anatomy-label .tooltip {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 400px;
    padding: 10px;
    background-color: #1CB955;
    border-radius: 10px;
    transition: all 1s ease; }
    .cassetteAnatomy .anatomy-label .tooltip .artwork_cover {
      width: 30%;
      border-radius: 10px;
      overflow: hidden; }
      .cassetteAnatomy .anatomy-label .tooltip .artwork_cover img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .cassetteAnatomy .anatomy-label .tooltip.top {
      top: -50px; }
    .cassetteAnatomy .anatomy-label .tooltip.bottom {
      bottom: -50px; }
    .cassetteAnatomy .anatomy-label .tooltip.left {
      left: 0px; }
    .cassetteAnatomy .anatomy-label .tooltip.right {
      right: 0px; }
    .cassetteAnatomy .anatomy-label .tooltip .artwork_pallette {
      height: 22px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 5px;
      margin-right: 5px;
      padding: 5px;
      border-radius: 5px;
      background-color: #ffffff;
      border: 1px solid #0b0b0d; }
      .cassetteAnatomy .anatomy-label .tooltip .artwork_pallette .artwork_pallette_color {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ffffff;
        border: 1px solid #0b0b0d; }
  .cassetteAnatomy .text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    font-family: "Permanent Marker", cursive;
    font-size: 26px;
    z-index: 1000000;
    transform: translate3d(0, 0, 10vw); }
    .cassetteAnatomy .text .follow_arrow {
      width: 100px; }
  .cassetteAnatomy .name {
    position: absolute;
    top: 240px;
    left: 300px; }
    .cassetteAnatomy .name .follow_arrow {
      margin-top: 20px; }
  .cassetteAnatomy .artist {
    align-items: flex-start;
    position: absolute;
    top: 320px;
    left: 200px;
    gap: 10px; }
    .cassetteAnatomy .artist .follow_arrow {
      margin-top: 20px; }
  .cassetteAnatomy .colors {
    position: absolute;
    top: 400px;
    right: 180px; }
  .cassetteAnatomy .material {
    align-items: flex-end;
    position: absolute;
    bottom: 200px;
    right: 400px; }
  .cassetteAnatomy .brand {
    position: absolute;
    bottom: 300px;
    left: 300px; }
  .cassetteAnatomy .key {
    position: absolute;
    top: 240px;
    right: 400px;
    gap: 10px; }
  .cassetteAnatomy .tempo {
    align-items: flex-end;
    gap: 10px;
    position: absolute;
    bottom: 200px;
    left: 400px; }
    .cassetteAnatomy .tempo .follow_arrow {
      width: 160px;
      margin-bottom: 20px; }

.cassetteAnatomyContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh; }
  .cassetteAnatomyContent .cassette-scene,
  .cassetteAnatomyContent .shadow-scene {
    transform: perspective(10000px) rotateX(90deg) rotateZ(0deg) translateZ(-8vw) translateX(-22vw) translateY(0vw) scale3d(1.4, 1.4, 1.4) !important; }
    .cassetteAnatomyContent .cassette-scene:hover,
    .cassetteAnatomyContent .shadow-scene:hover {
      transform: perspective(10000px) rotateX(80deg) rotateZ(30deg) translateZ(-8vw) translateX(-6vw) translateY(20vw) scale3d(1.4, 1.4, 1.4) !important; }
  .cassetteAnatomyContent .shadow-scene {
    opacity: 0; }

.social_media_post_btns {
  position: absolute;
  right: 80px;
  right: 40px;
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 40px;
  gap: 10px;
  z-index: 1000000000; }

.round_btn {
  color: white;
  background-color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display";
  font-size: 20px;
  z-index: 1000000000; }

.social_media_post_container {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100000000;
  background-color: rgba(0, 0, 0, 0.3); }

.social_media_post {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: calc(600px * 9 / 16);
  background-color: white;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display";
  font-size: 20px;
  font-weight: bold;
  padding: 1rem;
  overflow: hidden; }

.social_media_post_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100px;
  padding: 1rem;
  gap: 10px; }

.social_media_post_title {
  font-size: 28px; }

.social_media_post_subtitle {
  font-size: 20px; }

.social_media_post_footer {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100px;
  gap: 2px;
  font-size: 10px; }

.plotContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: 10px;
  width: 90vw;
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  animation: fade-in 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  transform: translateZ(200px); }

.legend {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
  padding: 10px;
  width: 200px;
  height: auto;
  border-radius: 0.6rem;
  background-color: rgba(255, 255, 255, 0.5); }

.legend-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  color: black; }

.legend-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid black; }

.legend-text {
  font-size: 12px;
  width: 140px;
  height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.plotsModal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000; }

.plotsModalContent {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px; }

.metricsContainer {
  position: absolute;
  top: 20px;
  left: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px; }

.metric {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  border-radius: 0.6rem;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.2s ease;
  color: white;
  fill: white; }
  .metric .circle {
    stroke: white; }
  .metric .circle-bg {
    stroke: rgba(255, 255, 255, 0.4); }
  .metric:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    fill: white; }
    .metric:hover .circle {
      stroke: white; }
    .metric:hover .circle-bg {
      stroke: rgba(255, 255, 255, 0.4); }
  .metric.selected {
    color: black;
    background-color: rgba(28, 185, 85, 0.9);
    fill: black; }
    .metric.selected .circle {
      stroke: black; }
    .metric.selected .circle-bg {
      stroke: rgba(0, 0, 0, 0.4); }

.loading_overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.2s ease; }

.menu_btn {
  transition: all 0.2s ease;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display";
  font-size: 14px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  .menu_btn:hover {
    cursor: pointer;
    background-color: #1CB955;
    color: black; }
  .menu_btn .active {
    background-color: #1CB955; }

.loading_anim {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 20px solid #1CB955;
  border-top: 20px solid #ffffff;
  animation: loading_rotate 1s linear infinite;
  transition: all 0.2s ease;
  z-index: 1000; }
@keyframes loading_rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
#Cassette_10 {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  cursor: default !important; }

.switch-field {
  display: flex;
  overflow: hidden;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  z-index: 100; }

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

.switch-field label {
  background-color: black;
  color: white;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 11px 20px;
  margin-right: -1px;
  border: 1px solid rgba(28, 185, 85, 0.25);
  transition: all 0.1s ease-in-out; }

.switch-field label:hover {
  cursor: pointer;
  background-color: #1CB955;
  color: white; }

.switch-field input:checked + label {
  background-color: #1CB955;
  color: black;
  box-shadow: none; }

#App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.song_key {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 100;
  border-radius: 50%;
  border: 2px solid black;
  color: black;
  background-color: white; }

.rt .face {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px; }

.color_bars {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 43%;
  right: 0;
  height: 14%; }

.color_bar {
  height: 20%;
  width: 82.86%; }

.color_dots {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  position: absolute;
  top: 29px; }

.color_dot {
  border-radius: 50%;
  height: 8px;
  width: 8px; }

.song_info_display {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  height: 60px; }

.song_info_image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: all 0.2s ease; }
  .song_info_image img {
    height: 100%;
    border-radius: 1px; }

.menu {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 40px;
  z-index: 10000;
  gap: 10px; }

a {
  text-decoration: none;
  color: inherit; }

.spotify_logo {
  height: 50%;
  filter: invert(1); }

.user_profile_pic {
  height: 100%;
  border-radius: 50%;
  border: 2px solid black;
  padding: 2px;
  background-color: #1CB955; }
  .user_profile_pic img {
    height: 100%;
    border-radius: 50%;
    border: 1px solid #1CB955; }

.login_btn {
  width: 200px; }

.logout_btn {
  width: 140px; }

.spotify_btn {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background-color: black;
  color: white !important;
  font-family: "Inter", sans-serif;
  transition: 0.4s ease;
  cursor: pointer; }
  .spotify_btn:hover {
    opacity: 1;
    color: black !important;
    background-color: #1CB955; }
    .spotify_btn:hover .spotify_logo {
      filter: invert(0); }

.user_info {
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.cassette_face_info {
  width: 100%;
  height: 80%;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.song_artist_album {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

#info_panel {
  position: absolute;
  top: 40px;
  left: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  z-index: 1000000000000; }

#cassette-gallery {
  width: 100vw;
  height: 40vh;
  filter: blur(50px) opacity(100%); }

.song_info {
  height: 50px; }

.player_time {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px; }

.player_time_text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: black;
  margin-right: 10px; }

.player_time_bar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 275px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0.4;
  border-radius: 1px; }

.player_time_bar_progress {
  width: 50%;
  height: 100%;
  background-color: black;
  opacity: 1;
  border-radius: 1px; }

.player_btn {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0.8;
  border-radius: 1px;
  cursor: pointer;
  transition: 0.2s ease; }
  .player_btn:hover {
    opacity: 1; }

.cassette-scene,
.shadow-scene {
  position: absolute;
  width: 26vw;
  height: 6vw;
  transform: perspective(10000px) rotateX(80deg) rotateZ(40deg) translateZ(0vw);
  transition: 0.6s ease !important;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -10; }

.shadow-shape1 {
  background-color: #000000;
  opacity: 0.3;
  box-shadow: 0px 0px 0px 0px black;
  transition: 0.6s ease !important;
  position: absolute;
  width: 26vw;
  height: 400%;
  transform-origin: center;
  transform: translateZ(0px) translateY(-9.5vw) translateX(0vw); }

.shadow-shape2 {
  background-color: #000000;
  opacity: 0.3;
  box-shadow: 0px 0px 0px 0px black;
  transition: 0.6s ease !important;
  position: absolute;
  width: 16vw;
  height: 20%;
  transform-origin: center;
  transform: translateZ(0px) translateY(2.5vw) translateX(0vw); }

.cassette-shape {
  width: 26vw;
  height: 1.4vw;
  position: absolute;
  transition: 0.6s ease !important;
  cursor: pointer;
  z-index: 10; }
  .cassette-shape .case-scene {
    width: 26vw;
    height: 1.4vw;
    position: absolute; }
    .cassette-shape .case-scene .face {
      position: absolute; }
    .cassette-shape .case-scene .ft {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(38, 39, 41, 0.5);
      width: 26vw;
      height: 14vw;
      transform-origin: bottom left;
      transform: rotateX(-90deg) translateZ(-11.2vw); }
      .cassette-shape .case-scene .ft .full-mask {
        width: 26vw;
        height: 14vw;
        background-color: #262729;
        background-image: url("./components/cover.png");
        background-size: cover;
        background-repeat: no-repeat;
        font-family: "Permanent Marker", "Inter", sans-serif;
        font-size: 1vmax;
        color: #000000;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 2vmax 3vmax;
        clip-path: polygon(0% 0%, 0% 100%, 6vw 14vw, 6vw 6vw, 20vw 6vw, 20vw 8vw, 6vw 8vw, 6vw 14vw, 100% 100%, 100% 0%);
        z-index: 52; }
    .cassette-shape .case-scene .bk {
      background-color: #0b0b0d;
      width: 26vw;
      height: 14vw;
      transform-origin: top left;
      transform: rotateX(-90deg) rotateY(180deg) translateX(-26vw) translateY(-14vw); }
    .cassette-shape .case-scene .rt {
      background-color: #0b0b0d;
      border-left: 0.125vw solid black;
      width: 2.8vw;
      height: 14vw;
      transform-origin: top left;
      transform: rotateY(90deg) rotateZ(-90deg) translateZ(26vw) translateX(-2.8vw) translateY(-14vw); }
    .cassette-shape .case-scene .lt {
      background-color: #262729;
      border-right: 0.125vw solid #0d0e0f;
      width: 2.8vw;
      height: 14vw;
      transform-origin: top left;
      transform: rotateY(-90deg) rotateZ(90deg) translateY(-14vw); }
    .cassette-shape .case-scene .tp {
      background-color: #1b1c1e;
      border-bottom: 0.125vw solid #030303;
      width: 26vw;
      height: 2.8vw;
      transform-origin: top left;
      transform: translateZ(14vw); }
    .cassette-shape .case-scene .bm {
      background-color: #0b0b0d;
      width: 26vw;
      height: 2.8vw;
      transform-origin: top left;
      transform: rotateY(180deg) translateX(-26vw); }
  .cassette-shape #screw-scene1 {
    transform: translate3d(1.5vw, 2.9vw, 13vw); }
  .cassette-shape #screw-scene2 {
    transform: translate3d(24.5vw, 2.9vw, 13vw); }
  .cassette-shape #screw-scene3 {
    transform: translate3d(1.5vw, 2.9vw, 1vw); }
  .cassette-shape #screw-scene4 {
    transform: translate3d(24.5vw, 2.9vw, 1vw); }
  .cassette-shape #screw-scene5 {
    transform: translate3d(13vw, 3.45vw, 2vw); }
  .cassette-shape .screw-scene {
    position: absolute;
    transform-style: preserve-3d;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center; }
    .cassette-shape .screw-scene .screw-shape {
      position: absolute;
      transform-style: preserve-3d;
      width: 0;
      height: 0;
      transform-origin: 50%;
      transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg); }
    .cassette-shape .screw-scene [class*="cylinder"] .tp {
      transform: rotateX(90deg) translateY(-50%);
      border-radius: 50%; }
      .cassette-shape .screw-scene [class*="cylinder"] .tp .photon-shader {
        border-radius: 50%; }
    .cassette-shape .screw-scene [class*="cylinder"] .bm {
      transform: rotateX(-90deg) translateY(-50%);
      border-radius: 50%;
      top: 100%; }
      .cassette-shape .screw-scene [class*="cylinder"] .bm .photon-shader {
        border-radius: 50%; }
    .cassette-shape .screw-scene .cyl-1 {
      width: 0.6vw;
      height: 0.3vw; }
      .cassette-shape .screw-scene .cyl-1 .photon-shader {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; }
      .cassette-shape .screw-scene .cyl-1 .screw-face {
        position: absolute;
        transform-style: preserve-3d;
        overflow: hidden;
        transform-origin: 0 0;
        backface-visibility: hidden;
        background-size: 100% 100% !important;
        background-position: center; }
      .cassette-shape .screw-scene .cyl-1 .tp {
        width: 0.6vw;
        height: 0.6vw;
        background-color: rgba(11, 11, 13, 0.363); }
      .cassette-shape .screw-scene .cyl-1 .bm {
        width: 0.6vw;
        height: 0.6vw;
        background-color: rgba(11, 11, 13, 0.363); }
      .cassette-shape .screw-scene .cyl-1 .side {
        width: 0.16194608463408997vw;
        height: 0.3vw;
        left: 50%; }
      .cassette-shape .screw-scene .cyl-1 .s0 {
        transform: rotateY(12.8571428571deg) translate3D(-50%, 0, 0.275vw);
        background-color: rgba(11, 11, 13, 0.008); }
      .cassette-shape .screw-scene .cyl-1 .s1 {
        transform: rotateY(38.5714285714deg) translate3D(-50%, 0, 0.275vw);
        background-color: rgba(11, 11, 13, 0.05); }
      .cassette-shape .screw-scene .cyl-1 .s2 {
        transform: rotateY(64.2857142857deg) translate3D(-50%, 0, 0.275vw);
        background-color: rgba(11, 11, 13, 0.01); }
      .cassette-shape .screw-scene .cyl-1 .s3 {
        transform: rotateY(90deg) translate3D(-50%, 0, 0.275vw);
        background-color: rgba(11, 11, 13, 0.063); }
      .cassette-shape .screw-scene .cyl-1 .s4 {
        transform: rotateY(115.7142857143deg) translate3D(-50%, 0, 0.275vw);
        background-color: rgba(11, 11, 13, 0.243); }
      .cassette-shape .screw-scene .cyl-1 .s5 {
        transform: rotateY(141.4285714286deg) translate3D(-50%, 0, 0.275vw);
        background-color: rgba(11, 11, 13, 0.365); }
      .cassette-shape .screw-scene .cyl-1 .s6 {
        transform: rotateY(167.1428571429deg) translate3D(-50%, 0, 0.275vw);
        background-color: rgba(11, 11, 13, 0.482); }
      .cassette-shape .screw-scene .cyl-1 .s7 {
        transform: rotateY(192.8571428571deg) translate3D(-50%, 0, 0.275vw);
        background-color: rgba(11, 11, 13, 0.592); }
      .cassette-shape .screw-scene .cyl-1 .s8 {
        transform: rotateY(218.5714285714deg) translate3D(-50%, 0, 0.275vw);
        background-color: rgba(11, 11, 13, 0.65); }
      .cassette-shape .screw-scene .cyl-1 .s9 {
        transform: rotateY(244.2857142857deg) translate3D(-50%, 0, 0.275vw);
        background-color: rgba(11, 11, 13, 0.59); }
      .cassette-shape .screw-scene .cyl-1 .s10 {
        transform: rotateY(270deg) translate3D(-50%, 0, 0.275vw);
        background-color: rgba(11, 11, 13, 0.063); }
      .cassette-shape .screw-scene .cyl-1 .s11 {
        transform: rotateY(295.7142857143deg) translate3D(-50%, 0, 0.275vw);
        background-color: rgba(11, 11, 13, 0.357); }
      .cassette-shape .screw-scene .cyl-1 .s12 {
        transform: rotateY(321.4285714286deg) translate3D(-50%, 0, 0.275vw);
        background-color: rgba(11, 11, 13, 0.235); }
      .cassette-shape .screw-scene .cyl-1 .s13 {
        transform: rotateY(347.1428571429deg) translate3D(-50%, 0, 0.275vw);
        background-color: rgba(11, 11, 13, 0.118); }
  .cassette-shape .cover-scene {
    position: absolute;
    transform-style: preserve-3d;
    width: auto;
    height: auto;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate3d(13vw, 2.4vw, 1.5vw);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .cassette-shape .cover-scene .cover-shape {
      position: absolute;
      transform-style: preserve-3d; }
    .cassette-shape .cover-scene .cover-face {
      position: absolute;
      transform-style: preserve-3d; }
    .cassette-shape .cover-scene .cover-face-wrapper {
      position: absolute;
      transform-style: preserve-3d; }
    .cassette-shape .cover-scene .cover-shape {
      position: absolute;
      transform-style: preserve-3d;
      width: 0;
      height: 0;
      transform-origin: 50%; }
      .cassette-shape .cover-scene .cover-shape .cover-face {
        overflow: hidden;
        transform-origin: 0 0;
        backface-visibility: hidden;
        background-size: 100% 100% !important;
        background-position: center;
        background-color: #313235; }
      .cassette-shape .cover-scene .cover-shape .cover-face-wrapper {
        overflow: hidden;
        transform-origin: 0 0;
        backface-visibility: hidden; }
        .cassette-shape .cover-scene .cover-shape .cover-face-wrapper .cover-face {
          left: 100%;
          width: 100%;
          height: 100%; }
    .cassette-shape .cover-scene .cover-shape.pri-1 {
      transform: translate3D(-7.4vw, 0vw, 0vw) rotateX(-90deg) rotateZ(0deg) rotateY(-90deg);
      opacity: 1;
      width: 2vw;
      height: 3vw;
      opacity: 1; }
      .cassette-shape .cover-scene .cover-shape.pri-1 .rt {
        width: 1vw;
        height: 3vw; }
        .cassette-shape .cover-scene .cover-shape.pri-1 .rt .cover-face {
          transform: rotateZ(-18.4349488229deg);
          height: 3.1622776601683795vw; }
      .cassette-shape .cover-scene .cover-shape.pri-1 .lt {
        width: 1vw;
        height: 3vw; }
        .cassette-shape .cover-scene .cover-shape.pri-1 .lt .cover-face {
          transform: rotateZ(18.4349488229deg);
          height: 3.1622776601683795vw; }
      .cassette-shape .cover-scene .cover-shape.pri-1 .ft {
        height: 3.1622776601683795vw;
        transform: translateZ(-0.5vw) rotateX(18.4349488229deg);
        background-color: #0b0b0d; }
      .cassette-shape .cover-scene .cover-shape.pri-1 .bk {
        transform: translateZ(-0.5vw) rotateY(180deg); }
      .cassette-shape .cover-scene .cover-shape.pri-1 .bm {
        width: 2vw;
        height: 1vw;
        background-color: #0b0b0d; }
    .cassette-shape .cover-scene .cover-shape.cub-1 {
      transform: translate3D(0vw, 0vw, 0vw) rotateX(-90deg) rotateZ(0deg) rotateY(90deg);
      opacity: 1;
      width: 2vw;
      height: 3vw; }
      .cassette-shape .cover-scene .cover-shape.cub-1 .ft {
        transform: translateZ(6.9vw); }
      .cassette-shape .cover-scene .cover-shape.cub-1 .bk {
        transform: translateZ(-6.9vw) rotateY(180deg); }
      .cassette-shape .cover-scene .cover-shape.cub-1 .rt {
        width: 13.8vw;
        height: 3vw;
        display: flex;
        align-items: center;
        justify-content: center; }
        .cassette-shape .cover-scene .cover-shape.cub-1 .rt::before {
          content: "";
          position: absolute;
          width: 1vw;
          height: 1vw;
          border-radius: 50%;
          background-color: #000000;
          opacity: 0.5;
          bottom: 0.5rem;
          left: 2.5rem;
          bottom: 0.5vw;
          left: 2.5vw; }
        .cassette-shape .cover-scene .cover-shape.cub-1 .rt::after {
          content: "";
          position: absolute;
          width: 1vw;
          height: 1vw;
          border-radius: 50%;
          background-color: #000000;
          opacity: 0.5;
          bottom: 0.5rem;
          right: 2.5rem;
          bottom: 0.5vw;
          right: 2.5vw; }
      .cassette-shape .cover-scene .cover-shape.cub-1 .lt {
        width: 13.8vw;
        height: 3vw; }
      .cassette-shape .cover-scene .cover-shape.cub-1 .tp {
        width: 2vw;
        height: 13.8vw;
        background-color: #1b1c1e; }
      .cassette-shape .cover-scene .cover-shape.cub-1 .bm {
        width: 2vw;
        height: 13.8vw;
        background-color: #0b0b0d; }
    .cassette-shape .cover-scene .cover-shape.pri-2 {
      transform: translate3D(7.4vw, 0vw, 0vw) rotateX(-90deg) rotateZ(0deg) rotateY(90deg);
      opacity: 1;
      width: 2vw;
      height: 3vw;
      opacity: 1; }
      .cassette-shape .cover-scene .cover-shape.pri-2 .rt {
        width: 1vw;
        height: 3vw; }
        .cassette-shape .cover-scene .cover-shape.pri-2 .rt .cover-face {
          transform: rotateZ(-18.4349488229deg);
          height: 3.1622776601683795vw; }
      .cassette-shape .cover-scene .cover-shape.pri-2 .lt {
        width: 1vw;
        height: 3vw; }
        .cassette-shape .cover-scene .cover-shape.pri-2 .lt .cover-face {
          transform: rotateZ(18.4349488229deg);
          height: 3.1622776601683795vw; }
      .cassette-shape .cover-scene .cover-shape.pri-2 .ft {
        height: 3.1622776601683795vw;
        transform: translateZ(-0.5vw) rotateX(18.4349488229deg);
        background-color: #0b0b0d;
        border: 1.25px solid #000000; }
      .cassette-shape .cover-scene .cover-shape.pri-2 .bk {
        transform: translateZ(-0.5vw) rotateY(180deg); }
      .cassette-shape .cover-scene .cover-shape.pri-2 .bm {
        width: 2vw;
        height: 1vw;
        background-color: #0b0b0d; }
    .cassette-shape .cover-scene [class*="prism"] .ft {
      width: 100%;
      height: 100%; }
    .cassette-shape .cover-scene [class*="prism"] .bk {
      width: 100%;
      height: 100%;
      left: 100%; }
    .cassette-shape .cover-scene [class*="prism"] .rt {
      transform: rotateY(-90deg) translateX(-50%); }
      .cassette-shape .cover-scene [class*="prism"] .rt .cover-face {
        left: -100%;
        transform-origin: 100% 0; }
    .cassette-shape .cover-scene [class*="prism"] .lt {
      transform: rotateY(90deg) translateX(-50%);
      left: 100%; }
    .cassette-shape .cover-scene [class*="prism"] .bm {
      transform: rotateX(-90deg) translateY(-50%);
      top: 100%; }
    .cassette-shape .cover-scene [class*="cuboid"] .ft {
      width: 100%;
      height: 100%; }
    .cassette-shape .cover-scene [class*="cuboid"] .bk {
      width: 100%;
      height: 100%;
      left: 100%; }
    .cassette-shape .cover-scene [class*="cuboid"] .rt {
      transform: rotateY(-90deg) translateX(-50%); }
    .cassette-shape .cover-scene [class*="cuboid"] .lt {
      transform: rotateY(90deg) translateX(-50%);
      left: 100%; }
    .cassette-shape .cover-scene [class*="cuboid"] .tp {
      transform: rotateX(90deg) translateY(-50%); }
    .cassette-shape .cover-scene [class*="cuboid"] .bm {
      transform: rotateX(-90deg) translateY(-50%);
      top: 100%; }
  .cassette-shape #reel-scene1 {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate3d(17.5vw, 2.2vw, 7vw); }
  .cassette-shape #reel-scene2 {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate3d(8.5vw, 2.2vw, 7vw); }
  .cassette-shape .reel-scene {
    position: absolute;
    transform-style: preserve-3d;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center; }
    .cassette-shape .reel-scene .reel-shape {
      position: absolute;
      transform-style: preserve-3d;
      width: 0;
      height: 0;
      transform-origin: 50%; }
    .cassette-shape .reel-scene .reel-face {
      box-shadow: inset 0 0 0 1px #000000;
      position: absolute;
      transform-style: preserve-3d;
      overflow: hidden;
      transform-origin: 0 0;
      backface-visibility: hidden;
      background-size: 100% 100% !important;
      background-position: center;
      background-color: #e4e4e4; }
    .cassette-shape .reel-scene [class*="cylinder"] .tp {
      transform: rotateX(90deg) translateY(-50%);
      border-radius: 50%; }
    .cassette-shape .reel-scene [class*="cylinder"] .bm {
      transform: rotateX(-90deg) translateY(-50%);
      border-radius: 50%;
      top: 100%; }
    .cassette-shape .reel-scene .cyl-2 {
      opacity: 1;
      width: 3vw;
      height: 1vw;
      /* animation-name: spin;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear; */
      animation: spin 5s linear infinite; }
@keyframes spin {
  from {
    transform: rotatey(0deg); }
  to {
    transform: rotatey(360deg); } }
      .cassette-shape .reel-scene .cyl-2 .tp {
        width: 3vw;
        height: 3vw; }
      .cassette-shape .reel-scene .cyl-2 .bm {
        width: 3vw;
        height: 3vw;
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e4e4e4; }
        .cassette-shape .reel-scene .cyl-2 .bm .reel-circle {
          width: 100%;
          height: 100%;
          border-radius: 100%;
          position: relative;
          border: 4px solid #000000;
          z-index: 100;
          display: flex;
          align-items: center;
          justify-content: center; }
          .cassette-shape .reel-scene .cyl-2 .bm .reel-circle .reel-teeth {
            width: 9px;
            height: 9px;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center; }
            .cassette-shape .reel-scene .cyl-2 .bm .reel-circle .reel-teeth:after {
              width: 9px;
              height: 9px;
              background: #000000;
              border-radius: 3px;
              position: absolute;
              content: "";
              top: -15px;
              top: -200%; }
            .cassette-shape .reel-scene .cyl-2 .bm .reel-circle .reel-teeth:before {
              width: 9px;
              height: 9px;
              background: #000000;
              border-radius: 3px;
              position: absolute;
              content: "";
              top: 11px;
              top: 200%; }
          .cassette-shape .reel-scene .cyl-2 .bm .reel-circle .tooth0 {
            transform: rotate(0deg); }
          .cassette-shape .reel-scene .cyl-2 .bm .reel-circle .tooth1 {
            transform: rotate(60deg); }
          .cassette-shape .reel-scene .cyl-2 .bm .reel-circle .tooth2 {
            transform: rotate(120deg); }
      .cassette-shape .reel-scene .cyl-2 .side {
        width: 0.5001533209736089vw;
        height: 1vw;
        left: 50%; }
      .cassette-shape .reel-scene .cyl-2 .s0 {
        transform: rotateY(9deg) translate3D(-50%, 0, 1.475vw); }
      .cassette-shape .reel-scene .cyl-2 .s1 {
        transform: rotateY(27deg) translate3D(-50%, 0, 1.475vw); }
      .cassette-shape .reel-scene .cyl-2 .s2 {
        transform: rotateY(45deg) translate3D(-50%, 0, 1.475vw); }
      .cassette-shape .reel-scene .cyl-2 .s3 {
        transform: rotateY(63deg) translate3D(-50%, 0, 1.475vw); }
      .cassette-shape .reel-scene .cyl-2 .s4 {
        transform: rotateY(81deg) translate3D(-50%, 0, 1.475vw); }
      .cassette-shape .reel-scene .cyl-2 .s5 {
        transform: rotateY(99deg) translate3D(-50%, 0, 1.475vw); }
      .cassette-shape .reel-scene .cyl-2 .s6 {
        transform: rotateY(117deg) translate3D(-50%, 0, 1.475vw); }
      .cassette-shape .reel-scene .cyl-2 .s7 {
        transform: rotateY(135deg) translate3D(-50%, 0, 1.475vw); }
      .cassette-shape .reel-scene .cyl-2 .s8 {
        transform: rotateY(153deg) translate3D(-50%, 0, 1.475vw); }
      .cassette-shape .reel-scene .cyl-2 .s9 {
        transform: rotateY(171deg) translate3D(-50%, 0, 1.475vw); }
      .cassette-shape .reel-scene .cyl-2 .s10 {
        transform: rotateY(189deg) translate3D(-50%, 0, 1.475vw); }
      .cassette-shape .reel-scene .cyl-2 .s11 {
        transform: rotateY(207deg) translate3D(-50%, 0, 1.475vw); }
      .cassette-shape .reel-scene .cyl-2 .s12 {
        transform: rotateY(225deg) translate3D(-50%, 0, 1.475vw); }
      .cassette-shape .reel-scene .cyl-2 .s13 {
        transform: rotateY(243deg) translate3D(-50%, 0, 1.475vw); }
      .cassette-shape .reel-scene .cyl-2 .s14 {
        transform: rotateY(261deg) translate3D(-50%, 0, 1.475vw); }
      .cassette-shape .reel-scene .cyl-2 .s15 {
        transform: rotateY(279deg) translate3D(-50%, 0, 1.475vw); }
      .cassette-shape .reel-scene .cyl-2 .s16 {
        transform: rotateY(297deg) translate3D(-50%, 0, 1.475vw); }
      .cassette-shape .reel-scene .cyl-2 .s17 {
        transform: rotateY(315deg) translate3D(-50%, 0, 1.475vw); }
      .cassette-shape .reel-scene .cyl-2 .s18 {
        transform: rotateY(333deg) translate3D(-50%, 0, 1.475vw); }
      .cassette-shape .reel-scene .cyl-2 .s19 {
        transform: rotateY(351deg) translate3D(-50%, 0, 1.475vw); }

.white-cassette .cassette-shape .case-scene .bk {
  background-color: #b0b0b0 !important; }
.white-cassette .cassette-shape .case-scene .lt {
  background-color: #8a8a8a !important;
  border-right: 0.125vw solid #8c8a8a !important; }
.white-cassette .cassette-shape .case-scene .rt {
  background-color: #8a8a8a !important;
  border-left: 0.125vw solid #8c8a8a !important; }
.white-cassette .cassette-shape .case-scene .tp {
  background-color: #a4a4a4 !important;
  border-bottom: 0.125vw solid #8c8a8a !important; }
.white-cassette .cassette-shape .case-scene .bm {
  background-color: #8c8c8c !important; }
.white-cassette .cassette-shape .case-scene .ft .full-mask {
  background-color: #cccccc !important;
  border-top: 0.125vw solid #cccccc !important; }
.white-cassette .cassette-shape .cover-scene .cover-shape .cover-face {
  background-color: #c3c3c3 !important; }
.white-cassette .cassette-shape .cover-scene .cover-shape.pri-2 .ft {
  background-color: #aaaaaa !important; }
.white-cassette .cassette-shape .cover-scene .cover-shape.pri-1 .ft {
  background-color: #aaaaaa !important; }
.white-cassette .cassette-shape .cover-scene .cover-shape.pri-1 .bm {
  background-color: #6d6d6d !important; }
.white-cassette .cassette-shape .cover-scene .cover-shape.pri-2 .bm {
  background-color: #6d6d6d !important; }
.white-cassette .cassette-shape .cover-scene .cover-shape.cub-1 .bm {
  background-color: #919191 !important; }
.white-cassette .cassette-shape .cover-scene .cover-shape.cub-1 .tp {
  background-color: #b6b6b6 !important; }

.translucent-cassette .cassette-shape .case-scene .bk {
  background-color: rgba(100, 100, 110, 0.6) !important; }
.translucent-cassette .cassette-shape .case-scene .lt {
  background-color: rgba(70, 70, 80, 0.6) !important;
  border-right: 0.125vw solid rgba(70, 70, 80, 0.6) !important; }
.translucent-cassette .cassette-shape .case-scene .rt {
  background-color: rgba(70, 70, 80, 0.6) !important;
  border-left: 0.125vw solid rgba(70, 70, 80, 0.6) !important; }
.translucent-cassette .cassette-shape .case-scene .tp {
  background-color: rgba(80, 80, 90, 0.6) !important;
  border-bottom: 0.125vw solid rgba(70, 70, 80, 0.6) !important; }
.translucent-cassette .cassette-shape .case-scene .bm {
  background-color: rgba(75, 75, 85, 0.6) !important; }
.translucent-cassette .cassette-shape .case-scene .ft .full-mask {
  background-color: rgba(110, 110, 120, 0.6) !important; }
.translucent-cassette .cassette-shape .cover-scene .cover-shape .cover-face {
  background-color: rgba(115, 115, 125, 0.6) !important; }
.translucent-cassette .cassette-shape .cover-scene .cover-shape.pri-2 .ft {
  background-color: rgba(120, 120, 130, 0.6) !important; }
.translucent-cassette .cassette-shape .cover-scene .cover-shape.pri-1 .ft {
  background-color: rgba(120, 120, 130, 0.6) !important; }
.translucent-cassette .cassette-shape .cover-scene .cover-shape.pri-1 .bm {
  background-color: rgba(70, 70, 80, 0.6) !important; }
.translucent-cassette .cassette-shape .cover-scene .cover-shape.pri-2 .bm {
  background-color: rgba(70, 70, 80, 0.6) !important; }
.translucent-cassette .cassette-shape .cover-scene .cover-shape.cub-1 .bm {
  background-color: rgba(75, 75, 85, 0.6) !important; }
.translucent-cassette .cassette-shape .cover-scene .cover-shape.cub-1 .tp {
  background-color: rgba(100, 100, 110, 0.6) !important; }

.spotify-cassette .cassette-shape .case-scene .bk {
  background-color: #158d41 !important; }
.spotify-cassette .cassette-shape .case-scene .lt {
  background-color: #0f602c !important;
  border-right: 0.125vw solid #0f602c !important; }
.spotify-cassette .cassette-shape .case-scene .rt {
  background-color: #0f602c !important;
  border-left: 0.125vw solid #0f602c !important; }
.spotify-cassette .cassette-shape .case-scene .tp {
  background-color: #127736 !important;
  border-bottom: 0.125vw solid #0f602c !important; }
.spotify-cassette .cassette-shape .case-scene .bm {
  background-color: #0f602c !important; }
.spotify-cassette .cassette-shape .case-scene .ft .full-mask {
  background-color: #158d41 !important;
  border: 0.125vw solid #158d41 !important; }
.spotify-cassette .cassette-shape .cover-scene .cover-shape .cover-face {
  background-color: #158d41 !important; }
.spotify-cassette .cassette-shape .cover-scene .cover-shape.pri-2 .ft {
  background-color: #0f602c !important; }
.spotify-cassette .cassette-shape .cover-scene .cover-shape.pri-1 .ft {
  background-color: #0f602c !important; }
.spotify-cassette .cassette-shape .cover-scene .cover-shape.pri-1 .bm {
  background-color: #0f602c !important; }
.spotify-cassette .cassette-shape .cover-scene .cover-shape.pri-2 .bm {
  background-color: #0f602c !important; }
.spotify-cassette .cassette-shape .cover-scene .cover-shape.cub-1 .bm {
  background-color: #0f602c !important; }
.spotify-cassette .cassette-shape .cover-scene .cover-shape.cub-1 .tp {
  background-color: #127736 !important; }

/*# sourceMappingURL=App.css.map */
